/* KANOA GEEMAIL STYLESHEET */

body {
	margin: 0; 
	padding:0; 
	font-family: Arial, Verdana, sans-serif;
	background-color: white;
}


header {
	font-size:15px;
	border:solid white;
	border-width: 3px 0px;
	background-color: rgba(0,0,0,1);
	font-family:'Capriola', Helvetica, sans-serif;
	font-weight:bold;
}

p {
	padding-left: 25px;
	color: white;
	padding-top: 15px;
}

nav {
	float:left;
	padding-left: 25px;
	width:120px;
}

nav ul {
	list-style-type: none;
	padding: 5px;
}

h3 {
	font-size:15px;
}

h4 {
	padding-left: 25px;
	font-size:15px;
}

h5 {
	display: inline-block;
	margin-left: 25px;
	font-size:15px;
}

a:hover {
	text-shadow: 0 0 20px #eee;
}

a {
	color:white;
	text-decoration: none;
}


li.sidebar {
	padding: 3px;
	border: 3px solid white;
	border-radius: 7px;
	text-align: center;
	color:white;
	background-color: rgba(0,0,0,1);
	font-family:'Capriola', Helveti sans-serif;
	text-decoration: none;
	width:110px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

li.sidebar:hover {
	transform: scale(1.1);
}

a.header {
	text-decoration: none;
	margin-left: 25px;
}

a.header:hover {
	text-shadow: 0 0 15px #eee;
}

.headbar {
	padding-left:150px;
	text-align: center;
	color:white;
}

.emailHolder {
	width: 75%;
	float:left;
	border:solid black;
	margin-left: 150px;
	text-align: left;
	padding:0px;
	margin:0 auto;
	border-width:0px 1px 1px 3px;
	background-color: white;
}

h1.sender {
	font-size: 15px;
	display: inline-block;
	padding-left: 50px;
}

h2.subject {
	font-size:15px;
	display: inline-block;
	margin-left: 25px;
}

@media screen and (max-width:830px) {
	h1.sender, h2.subject {
		display:block;
	}

	nav, .emailHolder {
		float:none;
	}

	nav {
		text-align:center;
	}

	.emailHolder {
		margin-left:0;
		padding-top:25px;
		padding-right:25px;
	}


}

.button {
	border:3px solid black;
	border-radius: 5px;
	background-color: rgba(250,250,250,1);
	color: black;
	width:150px;
	margin-left: 25px;
	display: inline-block;
	padding:1px 3px;
	font-family: 'Capriola', Helvetica, sans-serif;
	cursor: pointer;
	text-align: center;
	transition: all .2s ease-in-out;
}
.button:hover {
	transform: scale(1.1);
}


.cool{
	font-size:20px;
	border: solid white;
	width: 85.75%;
	border-width:1px 1px 0px 0px;
}


.hide {
	display:none;
}